// _variables.scss
$color-orange: #f59e0b; // En attente
$color-green: #22c55e; // Accepté
$color-red: #ef4444; // À relancer

$breakpoint-md: 768px; // tablet
$breakpoint-lg: 1024px; // desktop sidebar

$sidebar-width: 220px;
